ol.disabled {
  pointer-events: none;
}

li {
  cursor: pointer;

  &.selected {
    font-weight: bold;
  }

  &.disabled {
    color: #888;
    pointer-events: none;
    cursor: default;
  }
}

p.fail {
  color: #f00;
  font-weight: bold;
}

#activity-wrapper {
  font-weight: bold;

  & ol {
    /* text-align: left; */
    width: fit-content;
    margin: 0 auto;
  }

  & li.teacher {
    color: #0c0;
  }
  & li.cohost {
    color: #f90;
  }

  & li.offline {
    opacity: 0.5;
    font-weight: normal;
  }

  & li span {
    display: inline-block;

    &.name {
      text-align: left;
      width: 5em;
    }

    &.score {
      text-align: right;
      width: 2em;
    }

    &.choice {
      width: 8em;
      text-align: center;
    }
  }
}

.choice {
  color: #0c0;

  &.wrong{
    color: #f00;
  }
}